target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
.meta
*.ipr
*.log
site/data/
.svn
site/solrhome
combined/data/
combined/solrhome
.externalToolBuilders/
/target
/logs
*.tern-project
.springBeans
/data
*.factorypath
/code-style/
/db/
/tmp/
/.apt_generated/
